@model Hospital.ViewModels.PatientFormViewModel
@{
    /**/
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Patient.PatientFirstName @Model.Patient.PatientSurname</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>PostCode</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("Delete", "Patient", new { id = Model.Patient.PatientId }))
        {
            <tr>
                <td>@Model.Patient.PatientId</td>
                <td>@Model.Patient.Address1</td>
                <td>@Model.Patient.Address2</td>
                <td>@Model.Patient.PostCode</td>
                <td>@Model.Patient.DOB.Value.ToShortDateString()</td>
                <td>@Model.Patient.Gender.GenderName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Patient", new { id = Model.Patient.PatientId }, null) |
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this record?')" />
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
@if (Model.Patient.PatientId == Model.PatientOccupancy.PatientId)
{
    <h2>Patient Occupancy Table</h2>
    @Html.Partial("OccupancyView", Model.PatientOccupancy)
}
else
{
    <h2>This Patient doesn't have Occupancy</h2>
}


<br />
@if (Model.Prescription == null)
{
    <h2>This Patient doesn't have Prescription</h2>
}
else
{
    <h2>Patient Prescription Table</h2>
    @Html.Partial("PrescriptionView", Model.Prescription)
}


@Html.ActionLink("Back to List", "Index", "Patient")
