@model IEnumerable<Hospital.Models.Drug>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Drugs</h2>

<p>
    @Html.ActionLink("New Drug", "New", "Drug", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Dosage</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Drug in Model)
        {
            using (Html.BeginForm("Delete", "Drug", new { id = Drug.DrugId}))
            {
                <tr>
                    <td>@Drug.DrugId</td>
                    <td>@Drug.DrugName</td>
                    <td>@Drug.Dosage mg</td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", "Drug", new { id = Drug.DrugId }, null) |
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this record?')" />
                </td>
                </tr>
            }
        }
    </tbody>
</table>
