@model Hospital.ViewModels.StaffFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Staff</h2>

@using (Html.BeginForm("Save", "Staff"))
{
    @Html.ValidationSummary(true, "Please Fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(s => s.Staff.StaffFirstName)
        @Html.TextBoxFor(s => s.Staff.StaffFirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Staff.StaffFirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Staff.StaffSurname)
        @Html.TextBoxFor(s => s.Staff.StaffSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Staff.StaffSurname)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Staff.StaffGradeId)
        @Html.DropDownListFor(s => s.Staff.StaffGradeId, new SelectList(Model.Grades, "Id", "Name"),
       "Select your Grade", new { @class = "form-control"})
        @Html.ValidationMessageFor(s => s.Staff.StaffGradeId)
    </div>
    <br />
    @Html.HiddenFor(s => s.Staff.StaffId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
