@model IEnumerable<Hospital.Models.PatientOccupancy>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Patient's Occupancy</h2>
<p>
    @Html.ActionLink("New Occupant", "Create", "PatientOccupancy", null, new { @class = "btn btn-primary" })
</p>
<br />
@using (Html.BeginForm("Index", "PatientOccupancy", FormMethod.Get))
{
    @Html.TextBox("searching")<input type="submit" value="Search">
}
<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Ward</th>
            <th>Bed Number</th>
            <th>Date Admitted</th>
            <th>Date Discharge</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patientoccupancy in Model)
        {
            using (Html.BeginForm("Delete", "PatientOccupancy", new { id = patientoccupancy.Id }))
            {
                <tr>
                    <td>@patientoccupancy.PatientId</td>
                    <td>@patientoccupancy.Patient.PatientFirstName</td>
                    <td>@patientoccupancy.Patient.PatientSurname</td>
                    <td>@patientoccupancy.Ward.WardName</td>
                    <td>@patientoccupancy.BedId</td>
                    <td>@patientoccupancy.DateAdmitted.Value.ToLongDateString()</td>
                    <td>@patientoccupancy.DischargeDate.Value.ToLongDateString()</td>
                    <td>@Html.ActionLink("Edit", "Edit", "PatientOccupancy", new { id = patientoccupancy.Id}, null)</td>
                </tr>
            }
        }
    </tbody>
</table>


