@model Hospital.ViewModels.PatientFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Patient - Occupancy</h2>

@using (Html.BeginForm("Save", "PatientOccupancy"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.PatientOccupancy.Patient.PatientId)
        @Html.DropDownListFor(p => p.PatientOccupancy.Patient.PatientId, new SelectList(Model.Patients, "PatientId", "PatientName"), "Please Select the Patient", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.PatientOccupancy.DateAdmitted)
        @Html.TextBoxFor(p => p.PatientOccupancy.DateAdmitted, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.PatientOccupancy.Ward.WardId)
        @Html.DropDownListFor(p => p.PatientOccupancy.Ward.WardId, new SelectList(Model.Wards, "WardId", "WardName"), "Please Select a Ward", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.PatientOccupancy.Ward.WardId)
        @Html.DropDownListFor(p => p.PatientOccupancy.Bed.Ward.WardId, new SelectList(Model.Wards, "WardId", "WardName"), "Please Select a Ward", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.PatientOccupancy.Bed.BedId)
        @Html.DropDownListFor(p => p.PatientOccupancy.Bed.BedId, new SelectList(Model.Beds, "BedId", "BedNumber"), "Please Select a bed", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.PatientOccupancy.DischargeDate)
        @Html.TextBoxFor(p => p.PatientOccupancy.DischargeDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>


    @Html.HiddenFor(m => m.Patient.PatientId)
    <button type="submit" class="btn btn-primary">Save</button>
}
