@model IEnumerable<Hospital.Models.Rota>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Staff Rota</h2>

<ul>
    <li>Monthly: @DateTime.Now.Month.ToString()</li>
    <li>Year: @DateTime.Now.Year</li>
</ul>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Grade</th>
            <th>Phone Number</th>
            <th>Ward</th>
            <th>Week 1</th>
            <th>Week 2</th>
            <th>Week 3</th>
            <th>Week 4</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rota in Model)
        {
            using (Html.BeginForm("Delete", "Rota", new { id = rota.StaffId }))
            {
        <tr>
            <td>@rota.Staff.StaffName</td>
            <td>@rota.Staff.StaffGrade.Name</td>
            <td>@rota.Staff.PhoneNumber</td>
            <td>@rota.Ward.WardName</td>
            <td>@rota.WeekShift.WeekShiftName</td>
            <td>@rota.WeekShift.WeekShiftName</td>
            <td>@rota.WeekShift.WeekShiftName</td>
            <td>@rota.WeekShift.WeekShiftName</td>
        </tr>
        }
    }
    </tbody>
</table>

